<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PublicarJuego</servlet-name>
        <servlet-class>com.steamdindie.curcriticos.servlets.PublicarJuego</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublicarJuego</servlet-name>
        <url-pattern>/PublicarJuego</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarJuego</servlet-name>
        <servlet-class>com.steamdindie.curcriticos.servlets.ListarJuego</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarJuego</servlet-name>
        <url-pattern>/ListarJuego</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ComprarJuego</servlet-name>
        <servlet-class>com.steamdindie.curcriticos.servlets.ComprarJuego</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprarJuego</servlet-name>
        <url-pattern>/ComprarJuego</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BuscarJuego</servlet-name>
        <servlet-class>com.steamdindie.curcriticos.servlets.BuscarJuego</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarJuego</servlet-name>
        <url-pattern>/BuscarJuego</url-pattern>
    </servlet-mapping> 
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
